/* Estilos pleca */

#pleca {
    background: white;
    height: 80px;
}

#logoSEP img {
    height: 80px;
    float: left;
    padding: 0px 10px;
}

#logoIPN p {
    display: inline-block;
    color: #807e82;
    font-size: 13.5px;
}

#logoIPN p span {
    font-size: 11px;
}

#logoIPN img {
    margin-top: 5px;
    margin-left: 10px;
    height: 70px;
}

#texto_ipn {
    font-size: 13px;
}