<!DOCTYPE html>
<html lang="MX">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TT-R 20-1-006</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generales.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
</head>

<body>

    <header>
        <div class="container">
            <div id="pleca">
                <div id="logoSEP">
                    <a href="https://www.gob.mx/sep">
                        <img src="/static/image/logotipo-sep.png" alt="Secretaría de Educación Pública">
                    </a>
                </div>
                <div id="logoIPN">
                    <a href="https://www.ipn.mx">
                        <img src="/static/image/logo-ipn.jpg" alt="Instituto Politécnico Nacional">
                        <p>Instituto Politécnico Nacional<br>
                            <span>"La Técnica al Servicio de la Patria"</span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <!--Fin container-->
    </header>

    <div id="content">
        <div class="container">

        </div>
        <!--Fin container-->
    </div>

    <footer>
        <div class="container">

        </div>
        <!--Fin container-->
    </footer>

</body>

</html>