<!DOCTYPE html>
<html lang="MX">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TT-R 20-1-006</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generales.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
</head>

<body>

    <header>
        <div class="container">
            <div id="pleca">
                <div id="logoSEP">
                    <a href="https://www.gob.mx/sep">
                        <img src="/static/image/pleca-gob.png" alt="Secretaría de Educación Pública">
                    </a>
                </div>
                <div id="logoIPN">
                    <a href="https://www.ipn.mx">
                        <img src="/static/image/logo-ipn.jpg" alt="Instituto Politécnico Nacional">
                        <p>Instituto Politécnico Nacional<br>
                            <span>"La Técnica al Servicio de la Patria"</span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <!--Fin container-->
    </header>

    <div id="content">
        <div class="container">
            <div class="grid-container">
                <div class="titulo">
                    <h1>Prototipo de asistente corrector gramatical y ortográfico</h1>
                    <p id="no-tt">Trabajo terminal remedial 20-1-006</p>
                </div>
                <div class="text-area">
                    <textarea placeholder="Escribe o pega (Ctrl+V) tu texto  aquí..."></textarea>
                    <p id="n-caracteres">Número de caracteres</p>
                </div>
                <div class="sug-desc">
                    <p id="sug-titulo">Sugerencias</p>
                    <div id="tarjeta">
                        tarjeta de sugerencias
                    </div>
                    <select>
                        <option value="txt">Archivo de texto (.txt)</option>
                        <option value="pdf">Archivo PDF (.pdf)</option>
                    </select>
                    <button>Descargar</button>
                </div>
            </div>
        </div>
        <!--Fin container-->
    </div>

    <footer>
        <div class="container" id="footer">
            Footer
        </div>
        <!--Fin container-->
    </footer>

</body>

</html>