<!DOCTYPE html>
<html lang="MX">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TT-R 20-1-006</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='image/logo-ipn.png') }}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generales.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <script src="/static/script/contador.js"></script>
    <script src="/static/script/jquery-3.4.1.min.js"></script>
</head>

<body>

    <header>
        <div class="container-h">
            <div id="pleca">
                <div id="logoSEP">
                    <a href="https://www.gob.mx/sep">
                        <img src="/static/image/pleca-gob.png" alt="Secretaría de Educación Pública">
                    </a>
                </div>
                <div id="logoIPN">
                    <a href="https://www.ipn.mx">
                        <img src="/static/image/logo-ipn.jpg" alt="Instituto Politécnico Nacional">
                        <p>Instituto Politécnico Nacional<br>
                            <span>"La Técnica al Servicio de la Patria"</span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <!--Fin container-->
    </header>

    <div id="content-titulo">
        <div class="container">
            <h1>Prototipo de asistente corrector gramatical y ortográfico</h1>
            <p id="no-tt">Trabajo terminal remedial 20-1-006</p>
        </div>
    </div>

    <div id="content">
        <div class="container-s">
            <div class="text-area">
                <img id="sim" src="/static/image/information.png" alt="información">
                <div class="hijo" id="text-area-div" contentEditable=true onkeypress="return limitar(event, this.textContent, 100)" data-text="Escribe o pega (Ctrl+V) tu texto aquí... "></div>

                <script>
                    $(".hijo").on("paste", function(e) {
                        contar();
                        var texto = $(".hijo").text() + e.originalEvent.clipboardData.getData('text');
                        if (texto.length >= 100) {
                            alert("No es posible pegar textos con mas de 3500 caracteres.")
                            e.preventDefault();
                        }

                        if ($(".hijo").text().length < 100) {
                            $(".hijo").text().substring(0, 4);
                        }
                    });
                </script>

                <p id="n-caracteres">Número de caracteres: 0</p>
            </div>
            <div class="sug-desc">
                <p id="sug-titulo">Sugerencias</p>

                <!--Tarjetas de sigerencias-->

                <div class="tarjeta" id="tarjeta-ortg">
                    <div class="circulo" id="otr"></div>
                    Alertas ortográfica <br><br>
                    <p id="lorem">
                        <del>incorrecta</del> -> Correcta
                    </p>
                    <br>
                    <hr style="border: 0.5px solid rgb(0,170,228)"> <br>
                    <p id="lorem">Significado de la palabra.</p>
                </div>

                <!--------------------------->

                <div id="descargas-tarjeta">
                    <p id="titulo-desc">Descargar</p>
                    <p id="texto-desc">Puedes descargar tu texto corregido aquí. Selecciona el tipo de archivo y presiona en <i>Descargar</i>.</p>
                    <select id="combo-opciones">
                        <option value="txt">Archivo de texto (.txt)</option>
                        <option value="pdf">Archivo PDF (.pdf)</option>
                    </select>
                    <a id="download" onclick="descargar()"><label>Descargar</label></a>

                </div>


            </div>
        </div>
        <!--Fin container-->
    </div>

    <footer class="footer">
        <div class="container-h" id="footer">

        </div>
        <!--Fin container-->
    </footer>

</body>

</html>